:root {
  --video-width: 200px;
  --video-height: 150px;
}
* {
  margin: 0;
}

.container {
  width: 50%;
  height: 120px;
  padding: 0.2em;
}

.container.gird {
  width: 50%;
}

.container.list {
  width: 100%;
}

.video {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53);
  transition: transform 100ms ease-in;
  overflow: hidden;
}

.video:hover {
  transform: scale(1.03);
}

.thumbnail {
  height: 90%;
  margin-left: 2%;
}

.metadata {
  margin-left: 0.5em;
  margin-right: 0.5em;
  overflow: hidden;
}

.title,
.channel {
  margin: 0;
  font-size: 0.8rem;
}

.title {
  font-weight: bolder;
  margin-bottom: 1em;
}

.channel {
  font-size: 0.6rem;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
