.detail {
  padding-left: 0.5em;
}

.ytplayer {
  margin-bottom: 1em;
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0.5em;
}

.description {
  white-space: pre-wrap; /* ✨pre태그에서 줄바꿈! */
}
.ytplayer {
  height: 400px;
}
