.videos {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  padding-top: 5rem;
  padding-bottom: 1rem;
  margin: 0 1em;
}

@media (max-width: 768px) {
  .videos {
    flex-direction: column;
  }
}
