.content {
  display: flex;
  margin-top: 80px;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}
@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .detail {
    margin-left: 0.5em;
    margin-right: 1em;
  }
}
